@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffffd5;
}

/* 
button {
    cursor: pointer;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    position: fixed;
    background-color: #212121;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    background: scroll;
    z-index: 1001;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.navbar .menu-logo-container {
    display: flex;
    align-items: center;
    background: none;
}

.navbar .logo {
    background: none;
    margin-left: 10px;
    width: 180px;
    cursor: pointer;
    user-select: none;
}

.navbar .navbar-icon {
    background: none;
    font-size: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.navbar .navbar-text {
    background: none;
    /* margin-right: 20px; */
    user-select: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    background: #202124;
    transition: left 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 1002;
}

.sidebar.open {
    left: 0;
}

.sidebar-logo-container {
    display: flex;
    align-items: center;
    background: none;
    padding-left: 20px;
    height: 60px;
    border-bottom: 1px solid #f2f2f2;
}

.sidebar-item {
    text-decoration: none;
    background: none;
    padding: 15px;
    border-bottom: 1px solid #3a3a3c;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s ease-in-out;
}

.sidebar-item:hover {
    background: #009dffaf;
}

.sidebar-item.active {
    font-weight: bold;
    background-color: #009cff;
}

.github-link {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #3a3a3c;
    background: none;
    text-decoration: none;
    width: 250px;
}

.sidebar-icon {
    background: none;
    font-size: 25px;
    margin: 0 10px 0 65px;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.navbar .search-bar {
    background: none;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.search-bar .search-icon {
    position: relative;
    left: 40px;
    background: none;
    font-size: 25px;
}

.search-bar .search-input {
    background-color: #3a3a3c;
    color: white;
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 50px;
    font-size: large;
}

.search-bar .search-close-icon {
    position: relative;
    right: 40px;
    background: none;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.search-close-icon.visible {
    opacity: 1;
    visibility: visible;
}

.navbar .navbar-options-container {
    display: flex;
    align-items: center;
    background: none;
}

.navbar .navbar-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background: none;
    cursor: pointer;
    position: relative;
}

.sort-dropdown {
    position: absolute;
    top: 30px;
    left: 10px;
    background: #3a3a3c;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80px;
}

.sort-dropdown-item {
    background: none;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    user-select: none;
    /* transition: background 0.2s; */
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    background: none;
    text-align: center;
    border-style: solid;
    border-color: transparent transparent #3a3a3c transparent;
}

.dropdown-active {
    font-weight: bold;
    background-color: #009cff;
}

.profile-dropdown {
    position: absolute;
    top: 50px;
    right: -32px;
    /* width: 100px; */
    width: max-content;
    border-radius: 5px;
    background: #3a3a3c;
}

.profile-dropdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 5px;
}

.profile-dropdown-item:hover {
    background-color: #75757648;
}

.profile-pic {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    /* margin: 0 10px 0 0; */
    cursor: pointer;
    user-select: none;
}

.loader {
    width: 20px;
    height: 20px;
    border: 3px solid #DADADB;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.8s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10px;
    font-size: larger;
}

.home {
    min-height: 100vh;
    background-color: #212121;
}

.empty-notes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    font-size: 22px;
    height: 100vh;
    text-align: center;
}

.section-name {
    font-size: medium;
    text-align: left;
    margin: 25px 0 0 40px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    user-select: none;
}

.grid-view-container {
    padding-top: 62px;
    margin: 0 auto;
    /* display: flex;
        justify-content: center; */
    width: 80%;
}

.list-view-container {
    padding-top: 62px;
    margin: 0 auto;
    width: 46%;
    text-align: center;
}

.grid-view-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Auto-arrange notes */
    /* gap: 5px; */
    padding: 2.5px 0;
    width: 100%;
    /* Adjust based on your design */
    /* max-width: 1000px; */
    /* Prevents it from stretching too much */
    justify-items: center;
    /* Ensures notes start from the left */
}

.list-view-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5px 0;
}

.grid-view {
    position: relative;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    width: 220px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.104);
    text-align: left;
    overflow: hidden;
    cursor: pointer;
}

.grid-view-content {
    height: 280px;
    text-align: left;
}

.grid-view:hover {
    box-shadow: 5px 5px 5px rgba(61, 61, 61, 0.261);
}

.grid-view .title {
    font-size: larger;
    display: -webkit-box;
    line-clamp: 13;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2b0;
}

.grid-view .body {
    display: -webkit-box;
    line-clamp: 12;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 21px;
}

.list-view {
    position: relative;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    display: inline-block;
    padding: 15px;
    width: 600px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.104);
    text-align: left;
    overflow: hidden;
    cursor: pointer;
}

.list-view:hover {
    box-shadow: 5px 5px 5px rgba(61, 61, 61, 0.261);
}

.list-view .title {
    font-size: larger;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2b0;
}

.list-view .body {
    display: -webkit-box;
    line-clamp: 12;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 22px;
}

.list-view-content {
    min-height: 120px;
}

.home-pin-btn {
    position: absolute;
    top: 3px;
    right: -1px;
    height: 12px;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
}

.home-pin-btn svg {
    background: none;
}

.grid-view:hover .home-pin-btn {
    opacity: 1;
    visibility: visible;
}

.list-view:hover .home-pin-btn {
    opacity: 1;
    visibility: visible;
}

.newNoteBtn {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 10px;
    border: none;
    background-color: #009cff;
    cursor: pointer;
}

.newNoteIcon {
    font-size: 32px;
    color: white;
    background: transparent;
}

.note-modal-overlay {
    position: fixed;
    inset: 0px;
    background-color: #202124bf;
    z-index: 1002;
}

.note-view {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin: 75px auto 0;
    max-width: 50%;
    padding: 1.5rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    height: 80%;
    outline: none;
}

.note-view .title {
    background: none;
    border: none;
    border-bottom: 1px solid #f2f2f2b0;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    outline: none;
}


.note-view .body {
    background: none;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    padding: 0;
    outline: none;
    line-height: 1.5;
    /* min-height: 400px; */
    height: 100%;
    resize: none;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.2);
}

.disable-editing {
    cursor: not-allowed;
}

.note-view .date {
    text-align: right;
    background: none;
    padding: 10px 10px 5px;
    font-size: smaller;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #f2f2f2;
    background: none;
    user-select: none;
    position: relative;
    height: 50px;
}

.toolbar {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
}

.toolbar .toolbar-button {
    background: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    cursor: pointer;
}

/* 
.toolbar button:hover{
    border: 1px solid #f2f2f2;
    background-blend-mode:darken;
    border-radius: 10px;
    } */

.toolbar .toolbar-icon {
    font-size: 20px;
}

.toolbar .tool-name {
    margin-left: 5px;
    font-size: 16px;
    background: none;
}

.note-close-btn {
    width: 20%;
    font-size: medium;
    background-color: #009cff;
    padding: 3px;
    margin-right: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.color-picker-container disableEditing {
    position: relative;
    /* display: inline-block; */
}

/* Color Picker - Hidden by Default */
.color-picker {
    position: absolute;
    bottom: 50px;
    /* Position above the palette button */
    left: 45%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    background: #3a3a3c;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* Color Options */
.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 0 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.1);
}

.color-picker.color-picker-visible  {
    visibility: visible;
    opacity: 1;
}

/* Show color picker on palette button click */
/* .color-picker-container:focus-within .color-picker {
    visibility: visible;
    opacity: 1;
} */

/* Signup/Login Page */
.auth-page {
    background: url("/StockSnap_MY9TVNEESX.webp") no-repeat;
    background-size: cover;
}

.auth-container {
    position: relative;
    height: 100vh;
}

.bg-darken-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.logo-header {
    text-align: center;
    padding: 50px 0 0;
    font-size: 48px;
    color: white;
}

.auth-form {
    margin: auto;
    box-shadow: 0 0 5px #767676;
    background-color: #202124;
    border-radius: 10px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form.signup-form {
    margin-top: 25px;
    padding: 20px 0 10px;
}

.auth-form.login-form {
    margin-top: 50px;
    padding: 30px 0 20px;
}

.auth-form-header {
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
    line-height: 30px;
}

.credentials-container {
    position: relative;
}

.credentials-input {
    padding: 10px;
    background-color: #3a3a3c;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 8px;
    width: 300px;
    font-size: large;
}

.credentials-action {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
}

.auth-btn {
    background-color: #009dffc1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    user-select: none;
}

.auth-btn:hover {
    background-color: #079bf7;
}

.auth-btn-on-loading {
    margin-left: 10px;
}

.auth-container .divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 10px 0 5px;
}

.auth-container .divider::before,
.auth-container .divider::after {
    content: " ";
    flex: 1;
    height: 1px;
    background-color: #DADADB;
    margin: 0 10px;
}

.google-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: #009cff; */
    background: none;
    border: 1px solid #f2f2f2;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    margin: 10px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.google-auth:hover {
    background-color: #009cff;
    border: 1px solid #202124;
}

.auth-hint {
    display: flex;
    gap: 5px;
    margin: 5px 0 10px;
}

.auth-error {
    font-size: smaller;
    color: #ff2626;
}